<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="admin/layout">
<head>
	<title>友链管理</title>
</head>

<body>
<div class="layui-body p-15" layout:fragment="content">
		<div class="layui-breadcrumb">
		  <a href="/article/article/list">系统管理</a>
		  <a><cite>友链管理</cite></a>
		</div>
		<hr />
		<form class="layui-form" lay-size="sm">
			<div class="layui-inline fr">
				<div class="layui-input-inline">
					<input name="keywords" placeholder="请输入搜索关键词" autocomplete="off" class="layui-input"  th:value="${keywords}" type="text">
				</div>
				<button class="layui-btn layui-btn-sm">搜 索</button>
			</div>
			<div class="layui-inline">
				<a href="/admin/link/add" class="layui-btn layui-btn-search layui-btn-sm fr">+新增友链</a>
			</div>
		</form>



		<div class="layui-center">
			<div th:replace="admin/public/page::show('/admin/link/index')"></div>
		</div>
	</div>

	<script th:inline="javascript" type="text/javascript" layout:fragment="footer">
	layui.use(['jquery', 'form', 'layer'], function()
	{
		var form = layui.form;

		form.on('switch(is_status)', function(data)
		{
			var id     = data.value;
			var status = data.elem.checked==true?'normal':'hidden';
			updateData('/admin/link/updateStatus', id, status);
		})
	})
	</script>
</body>
</html>
