<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="admin/layout">
<head>
	<title>编辑友链</title>
</head>

<body class="layui-layout-body">
<div class="layui-body p-15" layout:fragment="content">
	<div class="layui-breadcrumb"> 
		<a href="/article/article/list">系统管理</a> <a><cite>友链管理</cite></a> <a><cite>编辑友链</cite></a>
	</div>
	<hr />
	
	<fieldset class="layui-elem-field layui-field-title">
		<legend>编辑友链</legend>
	</fieldset>
	
	<form class="layui-form layui-form-pane" id="link-save-form">
		<input name="id" type="hidden" th:value="${info.id}" />
		<div class="layui-form-item">
			<label class="layui-form-label">链接标题</label>
			<div class="layui-input-block">
				<input name="name" autocomplete="off" lay-verify="required"
					placeholder="请输入链接标题" class="layui-input" type="text" th:value="${info.name}" />
			</div>
		</div>
		
		<div class="layui-form-item">
			<label class="layui-form-label">链接地址</label>
			<div class="layui-input-block">
				<input name="url" autocomplete="off" placeholder="请输入链接地址" lay-verify="required|url"
					class="layui-input" type="text"  th:value="${info.url}" />
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">链接排序</label>
			<div class="layui-input-block">
				<input name="sort" autocomplete="off" placeholder="请输入链接排序" lay-verify="required|number"
					class="layui-input" type="number" th:value="${info.sort!=null?info.sort:0}" />
			</div>
		</div>

		<div class="layui-form-item" pane="">
			<label class="layui-form-label">链接状态</label>
			<div class="layui-input-block">
				<input id="status" type="hidden"   name="status" th:value="${info.status=='hidden'?'hidden':'normal'}" />
				<input lay-filter="switch-status"  lay-skin="switch" lay-text="是|否" th:checked="${info.status=='hidden'?false:true}" type="checkbox" />
			</div>	
		</div>

		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">链接描述</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入链接描述" class="layui-textarea" name="description" th:utext="${info.description}"></textarea>
			</div>
		</div>
		
		<div class="layui-form-item">
			<button class="layui-btn" type="button" lay-submit="link-save" lay-filter="link-save">提 交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重 置</button>
		</div>
	</form>
</div>
<script th:inline="javascript" type="text/javascript" layout:fragment="footer">
	layui.use(['jquery', 'form', 'layer' ], function() 
	{
		var $ = layui.jquery; layer = layui.layer, form = layui.form;
		
		//监听指定开关
		form.on('switch(switch-status)', 
		function(data)
		{		
			if(this.checked)
			{
				$("#status").val('normal');
			}else{
				$("#status").val('hidden');
			}
		});
		
		ajaxform('link-save', '/admin/link/save', 'link-save-form',
		function(json)
		{
			if(json.status)
			{
				layer.msg(json.msg,	function()
				{
					window.location.href = json.url;
				})
			}
		})
	});
</script>
</body>
</html>