<div class="layui-header">
	<div class="layui-logo"><a href="/admin/index" style="font-size: 22px;color:#ffffff">LayBlog博客系统</a></div>
	<ul class="layui-nav layui-layout-right">
		<li class="layui-nav-item layui-hide-xs" id="fullscreen">
			<a href="javascript:void(0)">
				<i class="layui-icon layui-icon-screen-full"></i>
			</a>
		</li>
		<li class="layui-nav-item">
			<a href="javascript:;" >
				<img src="http://t.cn/RCzsdCq" class="layui-nav-img" />
				<th:block th:text="${session.admin.username}"></th:block>
			</a>
			<dl class="layui-nav-child">
				<dd><a href="/system/admin/profile">基本资料</a></dd>
				<dd><a href="javascript:void(0)" onclick="showBox('修改密码', 400, 300, 1, '/admin/editPass')">修改密码</a></dd>
				<dd><a href="javascript:void(0)" id="logout-btn">退出登录</a></dd>
			</dl>
		</li>
		<li class="layui-nav-item"><a href="/" target="_blank">我的博客</a></li>
	</ul>
</div>
