<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree"  lay-filter="test">
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">文章管理</a>
				<dl class="layui-nav-child">
					<dd><a href="/admin/article/index">文章管理</a></dd>
					<dd><a href="/admin/category/index">栏目管理</a></dd>
					<dd><a href="/admin/tag/index">标签管理</a></dd>
					<dd><a href="/admin/comment/index">评论管理</a></dd>
				</dl>
			</li>
			
			<li class="layui-nav-item">
				<a href="javascript:;">系统管理</a>
				<dl class="layui-nav-child">
					<dd><a href="/admin/link/index">友链管理</a></dd>
					<dd><a href="/admin/user/index">用户管理</a></dd>
					<dd><a href="/admin/logs/index">操作日志</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>