<div class="layui-side layui-side-menu">
	<div class="layui-side-scroll">
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li class="layui-nav-item">
				<a class="link-active" href="javascript:void(0)" lay-href="/admin/index" th:data-id="0" th:data-title="首页">
					<i class="layui-icon layui-icon-home"></i> <span>首页</span>
				</a>
			</li>
			<th:block th:each="menu:${menuList}">
				<li class="layui-nav-item">
					<a class="" href="javascript:void(0)">
						<i th:class="${'layui-icon ' + menu.icon}"></i> <span th:text="${menu.name}"></span>
					</a>
					<dl class="layui-nav-child">
						<th:block th:each="node:${menu.children}">
							<dd th:class="${node.checked}?'layui-this':''">
								<a class="link-active" href="javascript:void(0)" th:lay-href="@{'/'+${node.url}}" th:data-id="${node.id}" th:data-title="${node.name}">
									<i th:class="${'layui-icon ' + node.icon}"></i> <span th:text="${node.name}"></span>
								</a>
							</dd>
						</th:block>
					</dl>
				</li>
			</th:block>
		</ul>
	</div>
</div>
