<div class="layui-side layui-side-menu">
	<div class="layui-side-scroll">
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li class="layui-nav-item">
				<a class="" href="/admin/index">
					<i class="layui-icon layui-icon-home"></i> 首页
				</a>
			</li>
			<th:block th:each="menu:${menuList}">
				<li class="layui-nav-item">
					<a class="" href="javascript:;">
						<i th:class="${'layui-icon ' + menu.icon}"></i> <th:block th:text="${menu.name}"></th:block>
					</a>
					<dl class="layui-nav-child">
						<th:block th:each="node:${menu.children}">
							<dd th:class="${node.checked}?'layui-this':''">
								<a th:href="@{'/'+${node.url}}">
									<i th:class="${'layui-icon ' + node.icon}"></i> <th:block th:text="${node.name}"></th:block>
								</a>
							</dd>
						</th:block>
					</dl>
				</li>
			</th:block>
		</ul>
	</div>
</div>
