<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>新增菜单</title>
	<link rel="stylesheet" href="/admin/layui/css/layui.css" />
	<link rel="stylesheet" href="/admin/css/main.css" />
</head>

<body class="mt-30 mr-30 ml-20">
<form id="form" class="layui-form " method="post" lay-size="sm">

	<div class="layui-form-item">
		<label class="layui-form-label">上级菜单</label>
		<div class="layui-input-block">
			<div class="layui-unselect layui-form-select treeSelect">
				<div class="layui-select-title">
					<span class="layui-input layui-unselect" id="treeTest">选择上级菜单</span>
					<input class="layui-select" type="hidden" name="parentId" value="0" lay-verify="required" lay-reqText="请选择上级菜单">
					<i class="layui-edge"></i>
				</div>
				<dl class="layui-anim layui-anim-upbit">
					<dd>
						<ul id="treeUl"></ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">菜单类型</label>
		<div class="layui-input-block">
			<select name="urlType" id="urlType"  lay-verify="required" lay-reqText="请选择菜单类型" class="layui-select">
				<option value="">请选择菜单类型</option>
				<option value="1">模块</option>
				<option value="2">菜单</option>
				<option value="3">按钮</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">菜单名称</label>
		<div class="layui-input-block">
			<input type="text" name="menuName" id="menuName" lay-verify="required|verifyInput|verifySpace" lay-reqText="请输入菜单名称" placeholder="请输入菜单名称" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">菜单路径</label>
		<div class="layui-input-block">
			<input type="text" name="url" id="url" lay-verify="required|prohibitChinese|verifySpace" lay-reqText="请输入菜单路径" placeholder="请输入菜单路径" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">权限标识</label>
		<div class="layui-input-block">
			<input type="text" name="permission" id="permission" lay-verify="required|prohibitChinese|verifySpace" lay-reqText="请输入权限标识" placeholder="请输入权限标识" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">菜单图标</label>
		<div class="layui-input-block">
			<a href="javascript:void(0)" class="layui-btn-normal layui-btn layui-btn-sm" onclick="showBox('选择图标', 600, 600, 1, '/admin/menu/icon')">
				<i class="layui-icon layui-icon-addition"></i> 选择图标
			</a>
			<span id="layui-icon"></span>
			<input type="hidden" name="icon" id="icon" lay-verify="required"  lay-reqText="请输入菜单图标" placeholder="请输入菜单图标" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">菜单排序</label>
		<div class="layui-input-block">
			<input value="0" type="number" name="sort" id="sort" lay-verify="required|number|verifyNumber" lay-reqText="请输入菜单排序" placeholder="请输入菜单排序" class="layui-input">
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label layui-required">菜单状态</label>
		<div class="layui-input-block">
			<select name="status" id="status" lay-verify="required" lay-reqText="请选择菜单状态" class="layui-select">
				<option value="1">开启</option>
				<option value="2">禁用</option>
			</select>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">备注说明</label>
		<div class="layui-input-block">
			<textarea name="description" id="description" placeholder="请输入备注说明" class="layui-textarea"></textarea>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-normal layui-btn-sm" type="button" lay-submit="submit" lay-filter="submit">
				<i class="layui-icon layui-icon-ok"></i> 提交
			</button>
			<button type="reset" class="layui-btn layui-btn-primary layui-btn-sm" onclick="parent.layer.closeAll();">
				<i class="layui-icon layui-icon-close"></i> 关闭
			</button>
		</div>
	</div>
</form>
<style type="text/css">
	.treeSelect .layui-select-title span {
		line-height: 30px;
	}
	.layui-form-select dl{
		padding: 0;
	}
</style>
<script src="/admin/layui/layui.js"></script>
<script src="/admin/js/common.js"></script>

<script type="text/javascript">
layui.use(['jquery', 'form', 'layer', 'tree'], function()
{
	var $ = layui.jquery, layer = layui.layer, tree = layui.tree,form = layui.form;

	// 输入框验证
	form.verify({
		verifyInput:function(value,dom)
		{
			return verifInputValue(value);
		},
		verifyNumber:function (value)
		{
			if(value - 0 < 0){
				return "排序不得小于0";
			}
		},
		prohibitChinese:function (value)
		{
			return prohibitChinese(value);
		},
		verifySpace:function (value)
		{
			return verifySpace(value);
		}
	})

	ajaxform('submit', '/admin/menu/insert', 'form',
	function(json)
	{
		if(json.code==200)
		{
			layer.msg(json.msg, {time: 1000}, function()
			{
				parent.layer.closeAll();
				parent.location.reload();
			});
		}else{
			layer.msg(json.msg);
		}
	})

	$.get('/admin/menu/tree', {field: 'parentId'}, function(json)
	{
		if(json.code==200)
		{
			tree.render({
				elem: '#treeUl',
				data: json.data,
				click: function(node)
				{
					var that = $($(this)[0].elem).parents(".layui-form-select");
					that.removeClass("layui-form-selected").find(".layui-select-title span").html(node.data.name).end().find("input:hidden[name='parentId']").val(node.data.id);
				}
			})
		}
	}, 'json')

	$(".treeSelect").on("click", ".layui-select-title", function(e)
	{
		$(".layui-form-select").not($(this).parents(".layui-form-select")).removeClass("layui-form-selected");
		$(this).parents(".treeSelect").toggleClass("layui-form-selected");
		layui.stope(e);
	}).on("click", "dl i", function(e)
	{
		layui.stope(e);
	});
})
</script>
</body>
</html>
