<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>3658商城-可以赚钱的网上商城</title>
	<meta charset="utf-8" />
	<meta name="Keywords" content="3658商城,共享平台,共享购物,共享额度,网上赚钱,网上购物" />
	<meta name="Description" content="3658商城是国内领先的网赚分红+购物平台，一千万用户实力见证！注册即送现金红包，签到分享天天送钱，参与红筹可轻松赚取高额奖励！申请话费/加油卡等共享代理，天天坐等收钱！更有手机、数码、家电……百万商品等您共享！" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content=IE=EmulateIE7 http-equiv=X-UA-Compatible />
	<script type="text/javascript" src="https://www.3658mall.com/themes/3658mall/js/jquery-1.8.js"></script>
</head>

<body>
	<div style="margin:0 auto;width:980px">
		<h3>用户登录</h3>
		
		<form:form modelAttribute="user" id="login" action="#">
			<p>用户名：	 <form:input path="username" /><p>
			<p>密&emsp;码：<form:input path="password" /><p>
			<p>&emsp;&emsp;&emsp;&emsp;<input type="button" name="submit" id="submit" value="登 录" /><p>
		</form:form>
		
		
			用户名：	  ${sessionScope.userinfo.username}<br />
			密&emsp;码：${sessionScope.userinfo.password}<br />
			<a href="javascript:void(0)" id="logout">注销操作</a>
	</div>
	
	<script type="text/javascript">
		$(function()
		{
			$("#submit").click(function()
			{
				$.post('/springmvc/user/dologin',$("#login").serialize(),
				function(json)
				{
					if(json.status)
					{
						window.location.reload();
					}else{
						alert(json.info);
					}
				},'json')
			})
			
			$("#logout").click(function()
			{
				$.post("/springmvc/user/logout", function(json)
				{
					if(json.status)
					{
						window.location.href = json.url;
					}else{
						alert(json.info);
					}
				},'json')
			})
		})
	</script>
</body>
</html>