<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="admin/layout">
<head>
	<title>文章列表</title>
</head>
<body>
	<div class="layui-body p-15" layout:fragment="content">
		<span class="layui-breadcrumb">
		  <a href="/admin/article/list">文章管理</a>
		  <a><cite>栏目管理</cite></a>
		</span>
		<hr />

		<form class="layui-form" lay-size="sm">
			<div class="layui-inline fr">
				<div class="layui-input-inline">
					<input name="keywords" placeholder="请输入搜索关键词" autocomplete="off" class="layui-input"  th:value="${keywords}" type="text">
				</div>
				<button class="layui-btn layui-btn-sm">搜 索</button>
			</div>
			<div class="layui-inline">
				<a href="/admin/category/add" class="layui-btn layui-btn-search layui-btn-sm fr">+添加栏目</a>
			</div>
		</form>

		<div class="layui-form">
		  <table class="layui-table">
		    <thead>
		      <tr>
		        <td>编号</td>
		        <td width="40%">分类名称</td>
		        <td>是否导航</td>
		        <td>状态</td>
		        <td>发布时间</td>
		        <td>操作</td>
		      </tr>
		    </thead>
			<th:block th:each="vo:${list}">
		    <tr>
		        <td th:text="${vo.id}"></td>
		        <td th:text="${vo.name}"></td>
		        <td th:text="${vo.isnav==0}?否:是"></td>
		        <td>
					<input name="status" lay-skin="switch" lay-filter="is_status" lay-text="启用|禁用" type="checkbox"  th:checked="${vo.status=='normal'?true:false}"  th:value="${vo.id}" />
		        </td>
		        <td th:text="${#dates.format(vo.updateTime,'yyyy-MM-dd HH:mm')}"></td>
		        <td>
		        	<a th:href="@{'/admin/category/edit?id='+${vo.id}}">编辑</a>&ensp;
		        	<a href="javascript:void(0)" th:onclick="'deleteData(\''+@{/admin/category/delete}+'\','+${vo.id}+')'">删除</a>
		        </td>
		      </tr>
		     <th:block>
		    </tbody>
		  </table>
		</div>
	</div>
	<script th:inline="javascript" type="text/javascript" layout:fragment="footer">
	layui.use(['jquery', 'form', 'layer'], function()
	{
		var form = layui.form;

		form.on('switch(is_status)', function(data)
		{
			var id     = data.value;
			var status = data.elem.checked==true?'normal':'hidden';
			updateData('/admin/category/updateStatus', id, status);
		})
	})
	</script>
</body>
</html>
