<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{admin/layout}">
<head>
	<title>登录日志</title>
</head>

<body>
<div class="layui-body p-15" layout:fragment="content">
	<div class="layui-breadcrumb">
		<a href="#">基础资料</a><a><cite>登录日志</cite></a>
	</div>
	<hr />
	<form class="layui-form" lay-size="sm">
		<div class="layui-panel-search">
			<div class="layui-input-inline">
				<label class="layui-form-label">用户名：</label>
				<div class="layui-input-block">
					<input lay-verify="verifInput" name="username" placeholder="请输入用户名" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">登录地址：</label>
				<div class="layui-input-block">
					<input lay-verify="verifInput" name="ip" placeholder="请输入登录地址" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">登录状态：</label>
				<div class="layui-input-block">
					<select name="status" id="status" placeholder="请选择登录状态" class="layui-select">
						<option value="">请选择登录状态</option>
						<option value="1">成功</option>
						<option value="2">失败</option>
					</select>
				</div>
			</div>
			<div class="layui-input-inline">
				<label class="layui-form-label">操作日期：</label>
				<div class="layui-input-inline">
					<input id="startTime" name="startDate" placeholder="请选择开始日期" autocomplete="off" class="layui-input" type="text">
				</div>
				<div class="layui-input-inline">
					<input id="endTime"   name="endDate" placeholder="请选择结束日期" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>

			<button class="layui-btn layui-btn-normal layui-btn-search layui-btn-sm" type="button" lay-submit lay-filter="search">
				<i class="layui-icon layui-icon-search"></i>搜 索
			</button>
		</div>
	</form>
	<script type="text/html" id="toolbar">
		<div class="layui-btn-container">
			<button class="layui-btn layui-btn-sm layui-btn-info" lay-event="refresh">
				<i class="layui-icon layui-icon-refresh"></i> 刷新
			</button>
		</div>
	</script>
	<div class="layui-form">
		<table id="table" lay-filter="loginlog"></table>
	</div>
</div>

<script src="/admin/js/common.js"></script>
<script th:inline="javascript" type="text/javascript" layout:fragment="footer">
	layui.use(['jquery', 'form', 'layer', 'table', 'laydate'], function()
	{
		var table = layui.table, $ = layui.jquery, form = layui.form;

		// 输入框验证
		form.verify({
			verifInput:function(value,dom)
			{
				return verifInputValue(value);
			},
		})
		layDateRang("#startTime", "#endTime");

		let cols = [{type: 'numbers', title: '序号', width:'5%'},
		{field: 'username', title: '用户名',  width: '10%'},
		{field: 'ip', title: '登录地址',  width: '12%'},
		{field: 'browser', title: '浏览器',  width: '12%'},
		{field: 'os', title: '操作系统',  width: '12%'},
		{field: 'location', title: '位置',  width: '12%'},
		{field: 'status', title: '登录状态', width:'12%', templet:
		function (row)
		{
			let businessStatus = {1:"成功",2:"失败"};
			return businessStatus[row.status];
		}},
		{field: 'createTime', title: '登录时间',  width: '15%'},
		{field: 'response', title: '登录结果',  templet: function (row)
		{
			let json = JSON.parse(row.response);
			return json.msg;}
		}];
		let tableData = table.render(renderOptions('/admin/loginlog/data', cols));

		// 数据查询
		form.on('submit(search)', function (data)
		{
			layui.table.reload('table', {where: data.field});
		});

		table.on('toolbar(loginlog)', function(obj)
		{
			if(obj.event==='refresh') {
				tableData.reload();
			}
		})
	})
</script>
</body>
</html>
