<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{admin/layout}">
<head>
	<title>部门管理</title>
</head>

<body>
<div class="layui-body p-15" layout:fragment="content">
	<div class="layui-breadcrumb">
		<a href="#">系统管理</a><a><cite>部门管理</cite></a>
	</div>
	<hr />

	<form class="layui-form" lay-size="sm">
		<div class="layui-panel-search">
			<div class="layui-input-inline">
				<label class="layui-form-label">部门名称：</label>
				<div class="layui-input-block">
					<input lay-verify="verifInput" name="keywords" placeholder="请输入部门名称" autocomplete="off" class="layui-input" type="text">
				</div>
			</div>
			<button class="layui-btn layui-btn-normal layui-btn-search layui-btn-sm" type="button" lay-submit lay-filter="search">
				<i class="layui-icon layui-icon-search"></i>搜 索
			</button>
		</div>
	</form>

	<script type="text/html" id="toolbar">
		<div class="layui-btn-container">
			<button class="layui-btn layui-btn-sm layui-btn-info" lay-event="refresh">
				<i class="layui-icon layui-icon-refresh"></i> 刷新
			</button>
			<button class="layui-btn-normal layui-btn layui-btn-sm" onclick="showBox('新增部门', 700, 700, 1, '/admin/dept/add')">
				<i class="layui-icon layui-icon-addition"></i>新增部门
			</button>
			<button class="layui-btn-normal layui-btn layui-btn-sm" lay-event="btn-expand">
				<i class="layui-icon layui-icon-down"></i> 全部展开
			</button>
			<button  class="layui-btn-normal layui-btn layui-btn-sm"lay-event="btn-fold">
				<i class="layui-icon layui-icon-up"></i> 全部收起
			</button>
		</div>
	</script>

	<div class="layui-form">
		<table id="dept-table" lay-filter="dept-table"></table>
	</div>

	<script id="switchTpl" type="text/html">
		<input type="checkbox" name="status" value={{d.id}} lay-skin="switch" lay-text="开启|关闭" lay-filter="is_status" {{d.status=='normal'?'checked':''}}>
	</script>

	<script th:inline="javascript" type="text/html" id="bartool">
		<a class="layui-btn layui-btn-normal layui-btn-sm" lay-event="edit">
			<i class="layui-icon layui-icon-edit"></i>编辑
		</a>
		<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">
			<i class="layui-icon layui-icon-delete"></i>删除
		</a>
	</script>
</div>

<script src="/admin/js/common.js"></script>
<script th:inline="javascript" type="text/javascript" layout:fragment="footer">
	layui.config({base: '/admin/layui/modules/tabletree/'}).extend({tabletree: 'tabletree'})
	layui.use(['jquery', 'form', 'layer', 'table', 'tabletree'], function()
	{
		var table = layui.table, $ = layui.jquery, form = layui.form, tabletree = layui.tabletree;

		// 输入框验证
		form.verify({
			verifInput:function(value, dom)
			{
				return verifInputValue(value);
			}
		})

		tabletree.render({
			treeColIndex: 1,
			treeSpid: 0,
			treeIdName: 'deptId',
			treePidName: 'pid',
			elem: '#dept-table',
			url: '/admin/dept/data',
			page: false,
			toolbar: "#toolbar",
			defaultToolbar: [],
			cols: [
				[
					{type: 'numbers'},
					{field: 'deptName', width:'20%', title: '部门名称'},
					{field: 'deptCode', width:'20%', title: '部门编码'},
					{field: 'status', title: '状态', width:'10%',templet:"#switchTpl"},
					{field: 'sort', width:'20%', align: 'center', title: '排序'},
					{align: 'center', title: '操作', toolbar: '#bartool'},
				]
			],
			done: function () {
				layer.closeAll('loading');
			}
		});

		form.on('submit(search)', function (data)
		{
			tabletree.reload({where: data.field});
		});

		table.on('toolbar(dept-table)', function(obj)
		{
			if(obj.event==='refresh')
			{
				tabletree.reload();
			}
			if(obj.event==='btn-expand') {
				tabletree.expandAll('#dept-table');
			}
			if(obj.event==='btn-fold') {
				tabletree.foldAll('#dept-table');
			}
		})

		table.on('tool(dept-table)', function(obj)
		{
			var data = obj.data;
			if(obj.event === 'del')
			{
				layer.confirm('确定要删除吗？', function(index)
				{
					$.post("/admin/dept/delete", {id: data.deptId}, function(json) {
						if(json.code==200) {
							parent.layer.closeAll();
							tabletree.reload();
						}else{
							layer.msg(json.msg);
						}
					},"json");
				});
			} else if(obj.event === 'edit')
			{
				showBox('编辑部门', 700, 700, 1, '/admin/dept/edit?id=' + data.deptId);
			}
		});

		form.on('switch(is_status)', function(data)
		{
			var status = data.elem.checked==true?'normal':'hidden';
			updateData('/admin/dept/updateStatus', data.value, status);
		})
	})
</script>
</body>
</html>
