<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.blog.mapper.AdminMapper">

    <!--查询账号-->
    <select id="getAdminPage" parameterType="main.blog.dto.admin.AdminSearchDTO" resultType="main.blog.entity.Admin">
        SELECT * FROM fa_admin
        <where>
            <if test="username!='' and username!=null">
                username LIKE concat('%',#{username},'%')
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!--新增账号-->
    <insert id="insertAdmin" parameterType="main.blog.entity.Admin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fa_admin (`username`, `mobile`, `nickname`, `sex`, `password`, `salt`, `avatar`, `email`, `error_num`, `status`, `login_time`, `create_by`, `update_by`, `create_time`, `update_time`)
        VALUES (#{username}, #{mobile}, #{nickname}, #{sex}, #{password}, #{salt}, #{avatar}, #{email}, #{errorNum}, #{status}, now(), #{createBy}, #{updateBy}, now(), now())
    </insert>

    <!--账号更新 -->
    <update id="updateAdmin" parameterType="main.blog.entity.Category">
        UPDATE fa_admin
        <set>
            <if test="username!='' and username!=null">
                `username`=#{username},
            </if>
            <if test="mobile!='' and mobile!=null">
                `mobile`=#{mobile},
            </if>
            <if test="nickname!='' and nickname!=null">
                `nickname`=#{nickname},
            </if>
            <if test="sex!='' and sex!=null">
                `sex`=#{sex},
            </if>
            <if test="avatar!='' and avatar!=null">
                `avatar`=#{avatar},
            </if>
            <if test="email!='' and email!=null">
                `email`=#{email},
            </if>
            <if test="errorNum!='' and errorNum!=null">
                `error_num`=#{errorNum},
            </if>
            <if test="status!='' and status!=null">
                `status`=#{status},
            </if>
            <if test="updateBy!='' and updateBy!=null">
                `update_by`=#{updateBy},
            </if>
            `login_time`= now(), `update_time`= now() WHERE `id`=#{id}
        </set>
    </update>

    <!--查询用户-->
    <select id="getAdminInfo" parameterType="int" resultType="main.blog.entity.Admin">
        SELECT * from fa_admin WHERE id = #{adminId}
    </select>

	<!--查询用户-->
    <select id="getAdminByUsername" parameterType="string" resultType="main.blog.entity.Admin">
        SELECT id, username, nickname, salt, mobile, email, login_time from fa_admin WHERE username = #{username}
    </select>

    <!--用户账号验证-->
    <select id="adminLogin"	parameterType="map" resultType="boolean">
        SELECT count(*) from fa_admin WHERE username = #{username} AND password = #{password}
    </select>

    <!--修改账号密码-->
    <update id="editPass" parameterType="map">
        UPDATE fa_admin set password = #{password}, salt = #{salt} WHERE username = #{username}
    </update>

    <!--删除账号-->
    <delete id="deleteAdmin" parameterType="int">
        DELETE FROM fa_admin WHERE id = #{adminId}
    </delete>

    <!--更新账号状态-->
    <update id="updateAdminStatus" parameterType="main.blog.dto.admin.StatusDTO">
        update fa_admin set status = #{status} WHERE id = #{id}
    </update>

    <!--修改账号密码-->
    <update id="updatePassWord" parameterType="map">
        UPDATE fa_admin set password = #{password}, salt = #{salt} WHERE id = #{adminId}
    </update>

    <!--判断用户名首付存在-->
    <select id="existUsername"	parameterType="map" resultType="boolean">
        SELECT count(*) from fa_admin WHERE username = #{username}
    </select>

    <!--判断手机号是否存在-->
    <select id="existMobile" parameterType="map" resultType="boolean">
        SELECT count(*) from fa_admin WHERE mobile = #{mobile}
    </select>

    <!--判断邮箱是否存在-->
    <select id="existEmail" parameterType="map" resultType="boolean">
        SELECT count(*) from fa_admin WHERE email = #{email}
    </select>
</mapper>
