<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.blog.mapper.ArticleMapper">

	<!--最新文章 -->
	<select id="newArticle" parameterType="int" resultType="main.blog.entity.Article">
		SELECT * FROM fa_article where status = 'normal' order by id desc limit #{limit}
	</select>

	<!-- 文章列表 -->
	<select id="listArticle" parameterType="main.blog.dto.admin.ArticleSearchDTO" resultType="main.blog.vo.admin.ArticleVO">
		SELECT a.* ,c.name as cname from fa_article as a left join fa_category as c on a.cid = c.cid
		<where>
	       	 <if test="keywords!=null and keywords!=''">
	       	 	and	a.title LIKE concat('%',#{keywords},'%') or a.keywords LIKE concat('%',#{keywords},'%') or a.description LIKE concat('%',#{keywords},'%')
	       	 </if>
	       	 <if test="cname != null">
	       	 	and c.diyname='${cname}'
	       	 </if>
	       	 <if test="cid != null">
	       	 	and a.cid=${cid}
	       	 </if>
		</where>
		order by a.id desc
	</select>

	<!-- 文章详情 -->
	<select id="detailArticle" parameterType="int" resultType="main.blog.entity.Article">
		SELECT * FROM fa_article where id = #{id}
	</select>

	<!--文章删除 -->
	<delete id="deleteArticle" parameterType="int">
		DELETE FROM fa_article where id = #{id}
	</delete>

	<!--更新文章查看次数 -->
	<update id="updateViews" parameterType="int">
		update fa_article set views = views + 1 where id = #{id}
	</update>

	<!--新增文章-->
	<insert id="addArticle" parameterType="main.blog.entity.Article">
		insert into fa_article (`title`, `cid`, `keywords`, `description`, `image`, `author`, `source`, `status`, `is_top`, `is_comment`, `create_time`, `update_time`, `content`) VALUES
		(#{title}, #{cid}, #{keywords}, #{description}, #{image}, #{author}, #{source}, #{status}, #{isTop}, #{isComment}, now(), now(), #{content})
	</insert>

	<!--文章更新 -->
	<update id="editArticle" parameterType="main.blog.entity.Category">
		update fa_article set `title`=#{title}, `cid`=#{cid}, `image`=#{image}, `author`=#{author}, `source`=#{source}, `status`=#{status}, `is_top`=#{isTop}, `is_comment`=#{isComment}, `keywords`=#{keywords}, `description`=#{description}, `update_time`= now(), `content`=#{content} where `id`=#{id}
	</update>

	<!--统计分类下文章数-->
	<select id="countCategoryArticle" parameterType="int" resultType="int">
		select count(*) from fa_article where cid = #{value}
	</select>

	<!--统计分类下子分类-->
	<select id="countSubCategory" parameterType="int" resultType="int">
		SELECT count(*) from fa_category where pid = #{id}
	</select>

	<!--更新文章状态-->
    <update id="updateArticleStatus" parameterType="main.blog.dto.admin.StatusDTO">
    	update fa_article set status = #{status} where id = #{id}
    </update>

    <!--统计文章数 -->
    <select id="countArticle" resultType="int">
		SELECT count(*) FROM fa_article where status = 'normal'
	</select>

	<!--文章上一篇-->
	<select id="preArticle" parameterType="int" resultType="main.blog.entity.Article">
		SELECT id, title FROM fa_article where id &lt; #{id} order by id desc limit 1
	</select>

	<!--文章下一篇-->
	<select id="nextArticle" parameterType="int" resultType="main.blog.entity.Article">
		SELECT id,title FROM fa_article where id &gt; #{id} order by id desc limit 1
	</select>

	<!--按月统计-->
	<select id="monthArticle" resultType="map">
		SELECT DATE_FORMAT(create_time,'%Y-%m') months, count(id) count from fa_article group by months
	</select>

	<!--按月统计-->
	<select id="getMonthArticle" parameterType="string" resultType="main.blog.entity.Article">
		SELECT * FROM fa_article where DATE_FORMAT(create_time, '%Y-%m')=#{month}
	</select>
</mapper>
