<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.blog.mapper.OperLogMapper">
	<!--查询操作日志-->
	<select id="getOperLogPage" parameterType="main.blog.dto.admin.OperLogSearchDTO" resultType="main.blog.entity.OperLog">
		SELECT * FROM fa_oper_log
		<where>
		    log_id > 0
			<if test="title!='' and title!=null">
				AND title LIKE concat('%',#{title},'%')
			</if>
			<if test="status!='' and status!=null">
				AND status LIKE concat('%',#{status},'%')
			</if>
			<if test="business!='' and business!=null">
				AND business LIKE concat('%',#{business},'%')
			</if>
			<if test="createBy!='' and createBy!=null">
				AND create_by LIKE concat('%',#{createBy},'%')
			</if>
			<if test="startDate!='' and startDate!=null">
				AND create_time >= #{startDate}
			</if>
			<if test="endDate!='' and endDate!=null">
				AND create_time &lt; #{endDate}
			</if>
		</where>
		ORDER BY log_id DESC
	</select>

	<!--新增操作日志-->
	<insert id="insertOperLog" parameterType="main.blog.dto.admin.OperLogDTO">
		INSERT INTO fa_oper_log (`title`, `business`, `action`, `status`, `method`, `uri`, `ip`, `error_msg`, `params`, `response`, `location`, `create_by`, `update_by`, `create_time`, `update_time`) VALUES
		(#{title}, #{business}, #{action}, #{status}, #{method}, #{uri}, #{ip}, #{errorMsg}, #{params}, #{response}, #{location}, #{createBy}, #{updateBy}, now(), now())
	</insert>

	<!--查询操作日志-->
	<select id="getOperLogDetail" parameterType="int" resultType="main.blog.entity.OperLog">
		SELECT * FROM fa_oper_log WHERE log_id = #{logId} limit 1
	</select>
</mapper>
