<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.blog.mapper.RoleMapper">

	<!--角色查询-->
	<select id="getRoleList" parameterType="main.blog.dto.admin.RoleSearchDTO" resultType="main.blog.entity.Role">
		SELECT * FROM fa_role
    	<where>
	       	 <if test="keywords!= null">
				 role_name LIKE concat('%',#{keywords},'%')
	       	 </if>
		</where>
    	ORDER BY role_id DESC
    </select>

	<!--获取角色-->
	<select id="getRoleInfo" parameterType="int" resultType="main.blog.entity.Role">
		SELECT * FROM fa_role WHERE role_id = #{roleId} limit 1
	</select>

	<!--判断角色是否存在-->
	<select id="existRoleByName" parameterType="main.blog.dto.admin.RoleSearchDTO" resultType="boolean">
		SELECT COUNT(`role_id`) FROM fa_role WHERE `role_Name` = #{roleName}
	</select>

	<!--新增角色-->
	<insert id="insertRole" parameterType="main.blog.entity.Role" useGeneratedKeys="true" keyProperty="roleId">
		INSERT INTO fa_role (role_name, status, role_sort, remarks, create_by, update_by, create_time, update_time) VALUES (#{roleName}, #{status}, #{roleSort}, #{remarks}, #{createBy}, #{updateBy}, now(), now())
	</insert>

	<!--编辑角色-->
	<update id="updateRole" parameterType="main.blog.entity.Role">
		UPDATE fa_role SET role_name = #{roleName}, status = #{status}, role_sort = #{roleSort}, remarks = #{remarks}, update_by = #{updateBy}, update_time = now() WHERE role_id = #{roleId}
	</update>

	<!--删除角色-->
	<delete id="deleteRole" parameterType="int">
		DELETE FROM fa_role WHERE role_id = #{roleId}
	</delete>
</mapper>
