<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.blog.mapper.RoleMenuMapper">

	<!--新增角色权限-->
	<insert id="insertRoleMenu" parameterType="main.blog.entity.RoleMenu">
		INSERT INTO fa_role_menu(`menu_id`, `role_id`, `create_by`, `update_by`, `create_time`, `update_time`) VALUES
		<foreach collection="roleMenuList" index="" item="roleMenu" separator=",">
			(#{roleMenu.menuId}, #{roleMenu.roleId}, #{roleMenu.createBy}, #{roleMenu.updateBy}, now(), now())
		</foreach>
	</insert>

	<select id="getRoleMenuList" resultType="main.blog.entity.RoleMenu">
		SELECT * FROM fa_role_menu WHERE role_id = #{roleId} ORDER BY id DESC
	</select>

	<!--删除角色权限-->
	<delete id="deleteRoleMenu" parameterType="int">
		delete from fa_role_menu where role_id = #{roleId}
	</delete>
</mapper>
