<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>胡晓光技术博客</title>
    <meta name="description" content="胡晓光技术博客">
    <meta name="keywords"    content="胡晓光技术博客">
    <meta name="HandheldFriendly" content="True">
	<meta name="referrer"  content="origin">
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css">
    <link rel="stylesheet" href="/home/screen.css">
	<script type="text/javascript" src="/home/ghost-url.js"></script>
	<script type="text/javascript">
		ghost.init({
			clientId: "ghost-frontend",
			clientSecret: "721352203d6a"
		});
	</script>
	<style  id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style>
</head>

<body class="home-template">
	<div th:replace="/public/header"></div>
	<section class="content-wrap">
        <div class="container">
            <div class="row">
				<main class="col-md-8 main-content">
				<div th:if="${keywords}" class="cover tag-cover">
				    <h3 class="tag-name" th:text="'标签：'+${keywords}"></h3>
				    <div class="post-count" th:text="'共'+${page.total}+'篇文章'"></div>
				</div>
				<article th:id="${vo.id}" th:each="vo:${list}" class="post" >
				    <div class="post-head">
				        <h1 class="post-title"><a th:href="@{'/article/'+${vo.id}+'.html'}" target="_blank" th:text="${vo.title}"></a></h1>
				        <div class="post-meta">
				            <span class="author">作者：<a href="/about/">古月</a></span> •
				            <time class="post-date" th:title="${vo.title}"  th:value="${vo.updateTime}" th:text="${#dates.format(vo.updateTime,'yyyy年MM月dd日 HH时mm分')}"></time>
				        </div>
				    </div>

				    <div class="post-content"><p th:text="${vo.description}"></p></div>
				    <div class="post-permalink">
				    	<a th:href="@{'/article/'+${vo.id}+'.html'}" class="btn btn-default" target="_blank">阅读全文</a>
				    </div>
				    <footer class="post-footer clearfix">
				        <div class="pull-left tag-list"><i class="fa fa-folder-open-o"></i>
				        </div>
				        <div class="pull-right share"></div>
				    </footer>
				</article>

				<nav class="pagination" role="navigation">
					<a class="newer-posts" th:if="${page.prePage}" th:href="@{'/category/front/?page='+${page.prePage}}">
						<i class="fa fa-angle-left"></i>
					</a>
				    <span class="page-number" th:text="'第 '+${page.pageNum}+'页 ⁄ 共'+${page.pages}+'页'"></span>
				    <a class="older-posts" th:if="${page.nextPage}" th:href="@{'/category/front/?page='+${page.nextPage}}">
				    	<i class="fa fa-angle-right"></i>
				    </a>
				</nav>
			</main>
			<div th:replace="/public/right"></div>
            </div>
        </div>
    </section>
    <div th:replace="/public/footer"></div>
</body>
</html>
